body {
  font-family: 'Times New Roman', serif;
  line-height: 1.6;
  background-color: #0071BC;

}

.reschedule_title {
  color: #fff;
  text-align: center;
}
.messagePannel {
  text-align: center;
}




.rechedule_form {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 120px;



}

.input-group {
  width: 200px;
}
#btnSearch,
#btnClear{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.btn-primary:hover {
  border: 3px solid #000000;
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
